.config/nvim/autoload
.config/nvim/ftplugin
.config/nvim/plugged
.config/nvim/.netrwhist
.zsh_addons/cache/
.zsh_addons/zsh-git-prompt/
.zsh_sources/salto.sh
.zsh_sources/tunnel.sh

**/node_modules
nodegit
package-lock.json

