[core]
    editor = /usr/local/bin/nvim
    pager=less -x4
    excludesfile = ~/.gitignore_global

[user]
  email = amit.goldberg@gmail.com
  name = Amit Goldberg
  username = amitizle
	signingkey = E45C2795FC466D38

[includeIf "gitdir:~/qed-it/"]
  path = /home/amit/.gitconfig_work

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = green reverse
    local = blue
    remote = red

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[alias]
    url = remote get-url origin
    lastag = describe --tags --abbrev=0
    changed-files = show --pretty="" --name-only
    st = status
    untracked = ls-files --others --exclude-standard

    cl = clone

    amend = commit --amend

    ai = add --interactive

    co = checkout
    br = branch
    #list commands
    le = log --oneline --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls1 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    lg = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lc  = "!f() { git ll "$1"^.."$1"; }; f"
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    diff = diff --word-diff
    d = difftool
    dc = diff --cached
    lastdiff = diff HEAD^ HEAD
    boom = !git clean -fd && git co -- .
    sm = submodule update --init --recursive
    root-path = rev-parse --show-toplevel

[diff]
	tool = vimdiff
	renames = copies
[difftool]
	prompt = false
[mergetool "vimdiff"]
  path = /usr/local/bin/nvim
  cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = vimdiff
  conflictstyle = diff3
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg2
